<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go4Food - Sign Up!</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div style="display: flex; justify-content: space-evenly">
      <div class="titleContainer">
        <h1>Go4Food</h1>
      </div>
      <div class="">
        <img src="../Icon.png" width="100" height="100" />
      </div>
    </div>

    <div class="formContainer">
      <div class="registerForm signupform">
        <h1>Sign Up</h1>
        <br />
        <form id="signup" method="post">
          <table width="100%">
            <tr>
              <td>Email:</td>
            </tr>
            <tr>
              <td><input type="text" id="" name="" size="50%" /></td>
            </tr>
            <tr>
              <td>Username:</td>
            </tr>
            <tr>
              <td><input type="text" id="" name="" size="50%" /></td>
            </tr>
            <tr>
              <td>Password:</td>
            </tr>
            <tr>
              <td><input type="text" id="" name="" size="50%" /></td>
            </tr>
            <tr>
              <td>Confirm Password:</td>
            </tr>
            <tr>
              <td><input type="text" id="" name="" size="50%" /></td>
            </tr>
            <tr>
              <td>Address:</td>
            </tr>
            <tr>
              <td><input type="text" id="" name="" size="50%" /></td>
            </tr>
            <tr>
              <td>Phone Number:</td>
            </tr>
            <tr>
              <td><input type="text" id="" name="" size="50%" /></td>
            </tr>
          </table>
        </form>

        <div>
          <p>Already have an account? <a href="signin.html">Login Here!</a></p>
          <br />
          <p>
            Resgister a restaurant?
            <a href="restaurantSignup.html">Register Here!</a>
          </p>
        </div>

        <button class="button2 button2">register</button>
      </div>
    </div>
  </body>
</html>
