<header>
  <div class="header-logo">
    <h2 style="margin-left: 10px">Go4Food</h2>
    <div class="header-img">
      <img src="https://i.imgur.com/fVuzO73.png" />
      <div
        style="
          background-color: white;
          color: #ef3d3d;
          border-radius: 10%;
          padding: 2px 20px 2px 20px;
          border-radius: 20px;
          font-size: 14px;
          letter-spacing: 2px;
        "
      >
        <p style="margin: 0px">Menu Managment</p>
      </div>
    </div>
  </div>
</header>
